*.swp
*.tmp
*.class
*.exe
.pydevproject
.project
.ipynb_checkpoints
.settings
output_*
build*

#LFK
*_MTK/

#[vscode]
.vscode/
tempCodeRunnerFile*
.favorites.json

#[cscope symbol]
cscope.*
tags
gtags.files

#[kernel module]
Module.symvers
modules.order
*.mod.c
*.o
*.ko
*.ko.cmd
*.o.cmd
*.mod.o.cmd
.tmp_versions

#[python]
__pycache__
*.pyc
build/
dist/

#[cmake]
build*/

